@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat' arial;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    
}

.content {
    background-color: #ffff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.content::before {
    content: "";
    position: absolute;
    background-color:  #962bbe;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Archivo Black', arial;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #962bbe;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    font-family: 'Archivo Black', arial;
}

.description-primary {
    color: #fff;
}

.description-second {
    color: #7f8c8d;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-primary:hover {
    background-color: #fff;
    color: #962bbe;
}

.btn-second {
    background-color: #962bbe;
    border: 1px solid #962bbe;
    transition: background-color .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #962bbe;
    color: #962bbe;
}

.first-content {
    display: flex;
}

.first-content .second-column {
    z-index: 11;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

.erro{
    font-size: 10px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Archivo Black', arial;
    color: #7f8c8d;
}