@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');


table {
   margin: 0 auto;
   width: 80%;
   height:60%;
   table-layout: fixed;
   border-collapse: collapse;
   border:solid white 1px;
  
}


.primeira{
    background-color: white;
}
.segunda{
    background-color: #cfe2ff;
}
.terceira{
    background-color: #f8d7da;
}
.quarta{
    background-color: #cff4fc;
}

@media (max-width: 600px) {
    table {
        width: 100%;
        border-collapse: collapse;
    }
    thead {
        display: block;
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tbody, tr {
        display: block;
        margin-bottom: 15px;
    }

    td, th {
        display: block;
        text-align: center;
    }
    td {
        position: relative;
        padding-left: 50%;
    }
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }
}